TOS/DSCP is not set for TCP packets

Hello, I am using iperf3 version 3.6 (cJSON 1.5.2).
-S works fine for setting TOS field for UDP packets
but it fails with TCP packets, for them TOS is always equal to 0x0

I'm testing this with the code that's basically going to be iperf-3.7.  It looks fine to me.  Note that the TOS field will be set to non-zero on the test packets, not the control connection packets.

What hardware and OS are you using?  Can you share the command lines for client and server?


Hello, thanks for the quick answer.  Now, after your comments, I've double-checked the logs and you're right.  TOS field is set to non-zero on the test packets but not the control connection packets. 
So technically it is not a bug, iperf3 (iperf 3.6, cJSON 1.5.2, Linux 4.18.0-21-generic #22~18.04.1-Ubuntu SMP ) behaves according to your specification. But may I ask what are the reasons for this decision?

Should it not be like in the standard - RFC 1349 Section 5.2
https://tools.ietf.org/html/rfc1349#section-5.2 :

>  TCP [13] should use the same TOS for datagrams containing only TCP
      control information as it does for datagrams which contain user
      data.  Although it might seem intuitively correct to always
      request that the network minimize delay for segments containing
      acknowledgements but no data, doing so could corrupt TCP's round
      trip time estimates.

In my understanding this would imply that all packets initiated by sender should have the same TOS (also the control connection packets). Intuitively, many users would give all protocol packets the highest priority. In your case, it's the other way around. Thank you in advance for your help and comments.

Related: #830 

I've had the same issues and developed a quick and dirty patch for it:
[tos-marking-on-control-and-first-packet.patch.txt](https://github.com/esnet/iperf/files/3352670/tos-marking-on-control-and-first-packet.patch.txt) It should apply cleanly to 3.7, but is not particularly elegant yet.


Taking a little time off work, so just writing a quick reply:

@AdamKostrzewa : RFC 1349 5.2 applies (as I understand it) to TCP segments within the same connection, that segments with data and segment containing only an ACK should have the same TOS.  iperf3 doesn’t violate that because the control connection and data connection(s) are separate.  The point is to test the network behavior with TOS/DSCP set on the data connections.  I’d expect the control plane connection to be irrelevant to the test, but might be convinced otherwise.  This doesn’t matter much for ESnet’s main use case (perfSONAR) because if I remember right, our deployments ignore TOS marking from end hosts (in particular our test hosts) and get marked on entrance to our core network.

@acooks: Thanks for the patch.  I’m not going to have a chance to even look at it for awhile, so don’t worry about elegance yet.  Want to do a pull request when it’s an a form you feel comfortable with?



Hello, I've taken some time to investigate this issue.
First, I tracked the TCP traffic from iperf 3.7 over Wireshark. The trace analysis shows two connections to two ports. My guess is that one is for the control connection (IPERF3 client-server communication e.g. statistics) and the other is for the data connection (the actual transfer of the user). However, in version 3.7 of iperf3 I noticed some irregularities in the TOS field.

First, in the case of control connection, the packets are marked with the value 0x00 of the TOS field.  This has already been discussed in this thread and the behavior seems to be correct. Next, the first eight packets belonging to the user's data connection are marked with the value 0x00 of the TOS field and only in all subsequent packets is the TOS field set to the TOS value selected by the user.
This would confirm the findings of @acooks and @AdamKostrzewa.

Later I applied the patch of @acooks. The packets belonging to the control connection are sent with the correct TOS value. However, in the data connection the first four packets were without TOS again (TOS set to 0x00), while the following packets were sent correctly with TOS which I've selected. This would mean that we would have to check the code again.... Or is it the intended behavior?
With the UDP traffic, the patch works fine.

There's a definitely a bug here.  I'm less concerned about the marking of the control connection packets than I am about the fact that the first few data packets don't appear to be getting marked correctly (according to reports...I haven't tested this myself).


I've reproduced the issue using the following settings:
amzn2 linux kernel 5.4 Server running code compiled from trunk 20 mins ago: /usr/local/bin/iperf3 -s -4 -B
MBP 10.15.4 running iperf3 3.7 (from brew): iperf3 -c 35.173.65.149 --get-server-output -l 1000 -t 10 --dscp 0x12 -R

Actual results are the dscp value as seen by tcpdump on the server is 0x10 rather than 0x12

However the same config using udp mode works as expected with dscp value of 0x12 received: iperf3 -c 35.173.65.149 --get-server-output -l 1000 -t 10 --udp --dscp 0x12 -R


I recently ran into these issues as well when trying to set TOS/DSCP bits.  Besides the control connection not using TOS/DSCP bits, there are two other issues in this thread:

1) TOS field not getting set for 3-way handshake because setsockopt is not called until after `connect()` for data connections.  This is a relatively easy fix with some duplication of code for TCP/UDP paths.  I'm thinking about a more general solution that provides a better abstraction for the common setsockopt calls for each protocol but that will take some time.

2) There's some mixup when using `--dscp` to presumably set differentiated services (DS) field instead of TOS.  Current code sets the 8 bits using `IP_TOS` setsockopt for both `-S` and `--dscp` params.  Interpreted as DS instead of TOS in the IP header, we have DSCP (6) and ECN (2) bits.  We may not be able to set the ECN bits for TCP using the standard socket APIs outside of using raw sockets (net stack clears/protects those 2 bits so ECN works), which is most likely why we see `0x10` when trying to set `0x12` with the `-S` flag, for example.  UDP sockets are not affected the same way.

The `--dscp` parameter does accept shorthand for code points and sets the shifted values accordingly (e.g., --dscp af12` sets the DSCP bits correctly.  However, if you specify `--dscp 0x12` that value is treated as a TOS 8 bit value and not shifted into the DSCP 6 bit region, so it has the same effect as using `-S`.

I would argue we'd want `--dscp` to set values in the expected DS header region and not treat user-provided code point values as TOS bits, especially to help avoid confusion.  Easy fix if that's the direction to take.

Closed in https://github.com/esnet/iperf/pull/1427
