Doubtful jitter computation

# Context

* Version of iperf3:

iperf 3.5 (cJSON 1.5.2)

* Hardware:

VirtualBox VM

* Operating system (and distribution, if any):

Ubuntu 18.04

# Enhancement Request

* Current behavior

The formula to compute the jitter for UDP connections is as follows:

> iperf_udp.c

```c
	/*
	 * jitter measurement
	 *
	 * This computation is based on RFC 1889 (specifically
	 * sections 6.3.1 and A.8).
	 *
	 * Note that synchronized clocks are not required since
	 * the source packet delta times are known.  Also this
	 * computation does not require knowing the round-trip
	 * time.
	 */
	gettimeofday(&arrival_time, NULL);

	transit = timeval_diff(&sent_time, &arrival_time);
	d = transit - sp->prev_transit;
	if (d < 0)
	    d = -d;
	sp->prev_transit = transit;
	sp->jitter += (d - sp->jitter) / 16.0;
```

This computation has several problems:
1. I believe that the jitter is set to 0 at the beginning of the connection. If so, the jitter is underestimated (especially the jitter of the first packets). This is problematic when only few packets are sent.
2. Recent packets have more weight than older packets. In fact, the 50 last packets received account for 90% of the computed jitter (according to the algorithm used). This is a real problem because the summary jitter reported will actually mainly depend on the last few packets sent.
3. The periodic reports (for instance from 5s to 6s) actually takes into account the jitter of all the packets before the report (in this example from 0s to 6s). This is what makes the jitter of the summary report always equal to the jitter of the last periodic report by the way (as pointed out in issue #303)

* Possible Solution

I believe the following algorithm would be better in a statistical point of view, although I am not a statistician; there might be better algorithms to estimate the jitter. At least it would solve issues 1. and 2. pointed out.

```c
	gettimeofday(&arrival_time, NULL);

	transit = timeval_diff(&sent_time, &arrival_time);
	d = transit - sp->prev_transit;
	if (d < 0)
	    d = -d;
	sp->prev_transit = transit;
	if (sp->packet_count > 1)
		sp->jitter += (d - sp->jitter) / (sp->packet_count - 1);
```

I didn't test at all the code written above.

The basic idea is to give the same weight to the jitter of all the packets (instead of a high weight to recent packets and a low weight to old packets).

The way to solve issue 3. is to compute separately the jitter for each periodic report and to save them into an array.

Computing jitter can be a little tricky because there are (as you demonstrate) various ways to define and compute it.  I acknowledge your characterization of the algorithm we use in iperf3 currently, but it's at least a well-known algorithm that's understood.  We probably need to put some more thought into this.  Are there any standard algorithms (in the RFC sense) for doing this computation across the entire stream?


Just had a quick look at the definitions of jitter in the literature. First thing I noticed is that the term "jitter" is often used for different things. What we are talking about there is often more accurately referred as "packet delay variation". In the case of iperf, I'm not quite sure whether we should say "packet delay variation", which is more accurate, or "jitter", which is generally a well-known word in the network world.

Here are 3 RFCs which address the subject:
[RFC 3550](https://tools.ietf.org/html/rfc3550) (currently used for the computation of jitter)
[RFC 3393](https://tools.ietf.org/html/rfc3393)
[RFC 5481](https://tools.ietf.org/html/rfc5481)

What is currently measured in iperf is refereed as "IPDV" (for Inter-Packet Delay Variation) in RFC 5481 (or rather its absolute value). The author mentions the use of interquartile range as a measure of the variability of the delay (it does make sense to me, although this is not what most people think of when hearing about jitter). Nevertheless the conclusion of the RFC 5481 seems to be that among all the algorithms to compute jitter from IPDV (i.e. without time synchronisation), none is fully satisfactory:

> 
> 6.5.  Reporting a Single Number (SLA)
> 
> [...] Should the Inter-Quartile Range be used?  Should the singletons beyond some threshold be counted (e.g., mean +/- 50 ms)?  A strong rationale for one of these summary statistics has yet to emerge.

> 7.1.4.  Service-Level Specification: Reporting a Single Number
> 
> [...] The IPDV distribution is two-sided, usually has zero mean, and no universal summary statistic that relates to a physical quantity has emerged in years of experience.

At the end of the day, I have to admit that this is a rather complicated question with no fully satisfactory answer.

I think it would be great if we could have access to the "interquartile range of the inter-packet delay variation" as an option. Remains the question of the threshold and the lost packets.

Also, if the current algorithm to compute jitter is to be kept, a more precise description would be welcomed, such as "instantaneous jitter at time t=10s". Because giving a jitter value for an interval of time with this algorithm is misleading.

I'm going to close this issue for now because the current algorithm implemented isn't obviously wrong, and there doesn't seem to be one correct answer to this problem.  The source code is available should anyone want to try implementing some additional jitter measurements such as the interquartile range of delay variation, etc.

(As an side note that #990 fixed a bug in the way the current algorithm behaved between hosts with significant clock skew.)
